<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>WWCS Online Test</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Custom styles for this template -->
{#    <link href="starter-template.css" rel="stylesheet">#}
  </head>

  <body>


    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">


        <ul class="nav navbar-nav navbar-right">
            <li class="custom-nav">Online Learning</li>
        </ul>

    </nav>



    <div class="container main">
        <div class="row">
            <div class="col-md-8 question-div">
            <form id="response_form" method="post">
            <input type="hidden" value="{{ quiz_id }}" name="quiz_id">
            <input type="hidden" name="timer" value="" id="timer1">
            {% csrf_token %}
            {% autoescape off %}
                {% for question in questions %}
                    <p> <span class="qno">({{ question.qno }})</span>{{ question.question }}</p>
                    <input type="radio" name="q_{{question.qno }}" value="a">{{ question.choice_a }}<br>
                    <input type="radio" name="q_{{question.qno }}" value="b">{{ question.choice_b }}<br>
                    <input type="radio" name="q_{{question.qno }}" value="c">{{ question.choice_c }}<br>
                    <input type="radio" name="q_{{question.qno }}" value="d">{{ question.choice_d }}<br>

                    <hr>
                {% endfor %}
            {% endautoescape %}
            <br>
            <button id="submit_quiz">Submit</button>
            </form>

            </div>
            <div class="col-md-4">

            </div>
        </div>

    </div><!-- /.container -->
    <div id="footer">
        Remaining Time : <span id="timer"></span>
    </div>






    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


  <script>
      var c={{ timer_sec }};
        var t;
        timedCount();

      $('#submit').on("click",function() {
        document.getElementById("timer1").value = c;
        $('#response_form').submit();
            });

        function timedCount() {

            var hours = parseInt(c / 3600) % 24;
            var minutes = parseInt(c / 60) % 60;
            var seconds = c % 60;

            var result = (hours < 10 ? "0" + hours : hours) + ":" + (minutes < 10 ? "0" + minutes : minutes) + ":" + (seconds < 10 ? "0" + seconds : seconds);


            $('#timer').html(result);
            c = c - 1;


            t = setTimeout(function () {
                        timedCount();
                if (c == 0) {
                    console.log("Timer Expired. Auto submitting")
                document.getElementById("timer1").value = c;
                document.getElementById("response_form").submit();
            }
                    },
                    1000);
        }
  </script>
  </body>
<style>
    .main{
        margin-top: 70px;
    }

    .qno
    {
       padding: 0px 5px 0px 5px;
        font-weight: bold;
    }

    .custom-nav
    {
        color:white;
        margin-left: 15px;
        margin-right: 15px;
    }
    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: darkgreen;
        color: white;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;

}
    .question-div
    {
        margin-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }


</style>
</html>